@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    background-color: #161515;
  font-family: Poppins, Helvetica;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
p{
    background-color: transparent;
}
a{
    background-color: transparent;
}

.flex-center {
    @apply flex items-center justify-center;
}
